<!doctype HTML>
<html>
<head>
  <link rel='stylesheet' type='text/css' href='/stylesheets/reset.css'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>
  <link href='https://fonts.googleapis.com/css?family=Sigmar+One|Source+Code+Pro:200,400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <%= yield %>
</body>
</html>