<!doctype HTML>
<html>
<head>
  <link rel='stylesheet' type='text/css' href='/stylesheets/reset.css'>
  <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>
</head>
<body>

  <% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <%= yield %>
</body>
</html>