<h2>You are placing your <%= @ship.name %>!</h2>

<form action='/place_ships' method='POST'>
  <input type='hidden' name='ship' value='<%= @ship.name %>'>
  <h3>Choose orientation:</h3>
  <p><input type='radio' name='orientation' value='vertical' id='vertical'>Vertical</p>
  <p><input type='radio' name='orientation' value='horizontal' id='horizontal'>Horizontal</p>
  <h3>Choose your starting coordinate:</h3>
  <p><input type='string' name='coordinate' placeholder='One capital letter and one number from 1-10, ex. "A4"'></p>
  <p><input type='submit' value='Go!'></p>
</form>
